<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="container-fluid">
        <div class="row">
            <%- include('./partials/navbar')  %>
            <div class="col-sm-10">
                <h1 style="text-align: center;"><%= title %></h1>
                <h3><%= category.name %></h3>
                <div class="container">
                    <ul>
                        <li>
                            <strong>Category: </strong>
                            <%= category[0].name %>
                        </li>
                    </ul>
                    <hr>
                    <a href="/inventory/category/<%= category[0].id %>/update">
                        <button class="btn btn-primary">Update</button>
                    </a>
                    <a href="/inventory/category/<%= category[0].id %>/delete">
                        <button class="btn btn-primary">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
