<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/navbar')  %>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
          <hr>
          <p><strong>Number of Items:</strong> <%= items.length %> </p>
          <p><strong>Number of Brands:</strong> <%= brands.length %> </p>
          <p><strong>Number of Categories:</strong> <%= categories.length %></p>
        </div>
      </div>
    </div>

  </body>
</html>
