<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="container-fluid">
        <div class="row">
            <%- include('./partials/navbar')  %>
            <div class="col-sm-10">
                <h1 style="text-align: center;"><%= title %></h1>
                <h3><%= item.brand %> <%= item.model %></h3>
                <div class="container">
                    <ul>
                        <li>
                            <strong>Category: </strong>
                            <a href=""><%= item.category %></a>
                        </li>
                        <li>
                            <strong>Price: </strong>
                            <%= item.price %>
                        </li>
                        <li>
                            <strong>Description: </strong>
                            <%= item.description %>
                        </li>
                        <li>
                            <strong>Quantity: </strong>
                            <%= item.quantity %>
                        </li>
                        <li>
                            <strong>Image: </strong>
                            <img src="<%= item.image %>" alt="<%= item.image_alt %>">
                        </li>
                        <li>
                            <strong>Image Alternate Text: </strong>
                            <%= item.image_alt %>
                        </li>
                    </ul>
                    <hr>
                    <a href="/inventory/item/<%= item.id %>/update">
                        <button class="btn btn-primary">Update</button>
                    </a>
                    <a href="/inventory/item/<%= item.id %>/delete">
                        <button class="btn btn-primary">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

